.Heading
{
    font-size: 25.5px;
    width: 100%;
}

body
{
    background-image: linear-gradient(to right top, #79fff4, #3dfff5, #1ec5f8, #0861c0, #033ce6);
    color: white;
}

.name_of_object
{
    font-size: 17.5px;
}

#camera
{
    border : 2px dotted rgb(252, 252, 252);
    width: 352px;
    height: 302px;
}